<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/global.css">
    <title>Main Page</title>
  </head>

  <body>
    <div class="container">
      <h1>Home</h1>

      <div class="links">
        <a href="/api/users">Users</a>
        <a href="/api/posts">Posts</a>
        <a href="/api/stats">Statistics</a>
        <a href="/api/topActiveUsers">Top Active Users</a>
      </div>
    </div>
    
  </body>
</html>
