<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/global.css">
    <title>Users</title>
  </head>

  <body>
    <div class="container">
      <h1>Users</h1>

      <a href="/" class="back-btn">Back to Home</a>

      <div class="grid">
        {{#each users}}
          <div class="card user-card">

            <div class="avatar">
              {{Full_Name.[0]}}
            </div>

            <div class="user-info">
              <div class="fullname">{{Full_Name}}</div>
              <div class="username">@{{Username}}</div>
            </div>

            <a href="/api/users/{{ID}}" class="twitter-profile-link">Profile</a>

          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>
